.about {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
}

.about__section {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 63px;
}

@media screen and (max-width: 768px){
  .about__section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 340px){
  .about__section {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.about__description-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 920px){
  .about__description-image {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.about__description {
  margin: 0;
  padding: 15px 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  border: 2px solid black;
  border-radius: 20px;
}

@media screen and (max-width: 1100px){
  .about__description {
    font-size: 29px;
    line-height: 33px;
  }
}

@media screen and (min-width: 1350px){
  .about__description {
    font-size: 33px;
    line-height: 37px;
  }
}

@media screen and (min-width: 1600px){
  .about__description {
    font-size: 36px;
    line-height: 43px;
  }
}

@media screen and (min-width: 1700px){
  .about__description {
    font-size: 40px;
    line-height: 47px;
  }
}

@media screen and (max-width: 950px){
  .about__description {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (max-width: 920px){
  .about__description {
    max-width: 500px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 500px){
  .about__description {
    font-size: 22px;
    line-height: 26px;
    align-items: center;
  }
}

@media screen and (max-width: 400px){
  .about__description {
    font-size: 18px;
    line-height: 20px;
  }
}

.about__description_job {
  margin: 0;
  padding: 15px 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  max-width: 668px;
  border: 2px solid black;
  border-radius: 20px;  
}

@media screen and (max-width: 1100px){
  .about__description_job {
    font-size: 29px;
    line-height: 33px;
    max-width: 610px;
  }
}

@media screen and (max-width: 950px){
  .about__description_job {
    font-size: 26px;
    line-height: 30px;
    max-width: 540px;
  }
}

@media screen and (max-width: 500px){
  .about__description_job {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 400px){
  .about__description_job {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1350px){
  .about__description_job {
    font-size: 33px;
    line-height: 37px;
    max-width: 700px;
  }
}

@media screen and (min-width: 1600px){
  .about__description_job {
    font-size: 36px;
    line-height: 43px;
  }
}

@media screen and (min-width: 1700px){
  .about__description_job {
    font-size: 40px;
    line-height: 47px;
  }
}

.about__image {
  width: 526px;
  height: 320px;
  margin-right: 60px;
}

@media screen and (min-width: 1281px){
  .about__image {
    width: 600px;
    height: 340px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1400px){
  .about__image {
    width: 650px;
    height: 370px;
  }
}

@media screen and (min-width: 1500px){
  .about__image {
    width: 750px;
    height: 470px;
  }
}

@media screen and (min-width: 1650px){
  .about__image {
    width: 800px;
    height: 500px;
  }
}

@media screen and (max-width: 1280px){
  .about__image {
    width: 526px;
    height: 320px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1100px){
  .about__image {
    width: 500px;
    height: 300px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1050px){
  .about__image {
    width: 450px;
    height: 270px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 950px){
  .about__image {
    width: 450px;
    height: 270px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 920px) {
  .about__image {
    align-self: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .about__image {
    width: 350px;
    height: 200px;  }
}

@media screen and (max-width: 400px) {
  .about__image {
    width: 300px;
    height: 180px;  }
}

.about__note {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  max-width: 668px;    
}

@media screen and (min-width: 1100px){
  .about__note {
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1350px){
  .about__note {
    font-size: 33px;
    line-height: 37px;
  }
}

@media screen and (max-width: 1100px){
  .about__note {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 950px){
  .about__note {
    font-size: 22px;
    line-height: 30px;
    max-width: 500px;
  }
}

@media screen and (max-width: 600px){
  .about__note {
    font-size: 16px;
    line-height: 20px;
  }
}

.about__description_profile-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1100px){
  .about__description_profile-link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 950px){
  .about__description_profile-link {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 920px){
  .about__description_profile-link {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px){
  .about__description_profile-link {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (min-width: 1100px){
  .about__description_profile-link {
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1265px){
  .about__description_profile-link {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1350px){
  .about__description_profile-link {
    font-size: 33px;
    line-height: 37px;
  }
}

.about__description_profile-link p {
  margin: 0;
  padding: 0;
}

.about__description_link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 32px;
  line-height: 39px;
  padding-left: 8px;
  cursor: pointer;
}

.about__description_link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1100px){
  .about__description_link {
    font-size: 26px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1350px){
  .about__description_link {
    font-size: 33px;
    line-height: 37px;
  }
}

@media screen and (max-width: 1100px){
  .about__description_link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 950px){
  .about__description_link {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (max-width: 920px){
  .about__description_link {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px){
  .about__description_link {
    font-size: 16px;
    line-height: 26px;
    padding-left: 4px;
  }
}

@media screen and (max-width: 321px){
  .about__description_link {
    padding-left: 3px;
  }
}

.about__description_job-sites {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.about__description_job-site {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  color: yellowgreen;
  cursor: pointer;
}

@media screen and (max-width: 1100px){
  .about__description_job-site {
    font-size: 29px;
    line-height: 33px;
  }
}

@media screen and (max-width: 950px){
  .about__description_job-site {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (max-width: 500px){
  .about__description_job-site {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 400px){
  .about__description_job-site {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1350px){
  .about__description_job-site {
    font-size: 33px;
    line-height: 37px;
  }
}

.about__description_job-site:hover {
  opacity: 0.6;
}