.about__section {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 63px;
}

@media screen and (max-width: 768px){
  .about__section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 24px;
  }
}

.about__description-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__description {
  margin: 0;
  padding: 15px 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  border: 2px solid black;
  border-radius: 20px;
}

.about__description_job {
  margin: 0;
  padding: 15px 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  max-width: 668px;
  border: 2px solid black;
  border-radius: 20px;  
}

@media screen and (max-width: 950px){
  .about__description {
    font-size: 26px;
    line-height: 30px;
  }
}

.about__image {
  width: 526px;
  height: 320px;
  margin-right: 60px;
}

@media screen and (min-width: 1281px){
  .about__image {
    width: 650px;
    height: 370px;
  }
}

@media screen and (min-width: 1500px){
  .about__image {
    width: 750px;
    height: 470px;
  }
}

@media screen and (max-width: 950px){
  .about__image {
    width: 450px;
    height: 270px;
  }
}

.about__note {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  max-width: 668px;    
}

@media screen and (max-width: 950px){
  .about__note {
    font-size: 26px;
    line-height: 30px;
  }
}

.about__description_profile-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 950px){
  .about__description_profile-link {
    font-size: 26px;
    line-height: 30px;
  }
}

.about__description_profile-link p {
  margin: 0;
  padding: 0;
}

.about__description_link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 32px;
  line-height: 39px;
  padding-left: 8px;
  cursor: pointer;
}

.about__description_link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px){
  .about__description_link {
    font-size: 26px;
    line-height: 30px;
  }
}

.about__description_job-sites {
  display: flex;
  flex-direction: column;
}

.about__description_job-site {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  margin-left: 30px;
  color: yellowgreen;
  cursor: pointer;
}

.about__description_job-site:hover {
  opacity: 0.6;
}