.portfolio {
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
  .portfolio {
    /*max-width: 980px;*/
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px){
  .portfolio {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 560px){
  .portfolio {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.portfolio__photo-info {
  padding: 24px 24px;
  margin: 22px auto 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 15px;
  max-width: 1232px;
  max-height: 586px;
}

.portfolio__items {
  margin: 0 auto;
  padding: 0;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  box-sizing: border-box;
  /*max-width: 500px;
  width: calc(100vw - 410px - 84px - 56px - 28px - 40px - 40px);*/
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.portfolio__main-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*margin-bottom: 30px;*/
}

.portfolio__welcoming {
  max-width: 730px;
  /*margin-bottom: 30px;*/
}

.portfolio__categories {
  /*margin-bottom: 30px;*/
}

.portfolio__photo {
  width: 408px;
  height: 536px;
  border: 1px solid #000000;
  margin-right: 30px;
  z-index: 1;
  cursor: pointer;
}

.portfolio__photo:hover {
  opacity: 0.4;
}

.portfolio__section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 992px;
}

.portfolio__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 11px;
  border-bottom: 3px solid #000000;
}

.portfolio__section_data {
  margin: 0 auto;
  padding: 14px 20px;
  /*width: 984px;*/
  max-width: 984px;
  width: calc(100vw - 92px - 40px - 40px);
  height: 214px;
  min-height: 214px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}