.content {
  margin-top: 34px;
  margin-bottom: auto;
  height: calc(100vh - 34px - 60px - 60px);
}

@media screen and (max-width: 920px){
  .content {
    margin-top: 24px;
    height: 100%;
  }
}

/*@media screen and (max-width: 610px){
  .content {
    height: calc(100vh - 48px - 50px + 100px);
  }
}*/

@media screen and (min-width: 1500px){
  .content {
    margin-top: 24px;
    height: calc(100vh - 24px - 60px - 60px + 88px);
  }
}

@media screen and (min-width: 1650px){
  .content {
    height: calc(100vh - 24px - 60px - 60px + 150px);
  }
}

@media screen and (min-height: 1350px){
  .content {
    height: calc(100vh - 34px - 60px - 60px);
  }
}