.login-page {
  height: calc(100vh - 18px - 60px - 60px);
  margin-top: 18px;
  margin-bottom: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .login-page {
    height: calc(100vh - 18px - 48px - 50px);
  }
}

@media screen and (max-width: 320px){
  .login-page {
    height: calc(100vh - 18px - 38px - 38px);
  }
}

@media screen and (max-height: 750px){
  .login-page {
    min-height: 700px;
  }
}

.login-page__note {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

@media screen and (max-width: 768px){
  .login-page__note {
    margin-left: 20px;
  }
}

.login-page__note-sign {
  width: 15px;
  height: 15px;
}

.login-page__note-text {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 768px){
  .login-page__note-text {
    font-size: 10px;
  }
}

.login__form-picture {
 display: flex;
 flex-direction: row;
}

.login__picture {
  width: 300px;
  height: 500px;
  margin-left: -140px;
  margin-top: -115px;
  z-index: -1;
}

@media screen and (max-width: 650px){
  .login__picture {
    width: 250px;
    height: 430px;
  }
}

@media screen and (max-width: 470px){
  .login__picture {
    width: 200px;
    height: 350px;
    margin-left: -155px;
  }
}

@media screen and (max-width: 320px){
  .login__picture {
    margin-left: -155px;
  }
}

@media screen and (max-width: 290px){
  .login__picture {
    width: 180px;
    height: 340px;
    margin-left: -145px;
  }
}

.login__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}

.login {
  margin: auto;
  max-width: 330px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px){
  .login {
    max-width: 250px;
  }
}

@media screen and (max-width: 320px){
  .login {
    max-width: 230px;
  }
}

.login__input {
  margin: 0;
  padding: 0;
  width: 330px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /*color: #cac5c5;*/
  background-color: #ffffff;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.login__input::placeholder {
  color: #cac5c5;
}

@media screen and (max-width: 650px){
  .login__input {
    max-width: 250px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px){
  .login__input {
    max-width: 230px;
    font-size: 20px;
    line-height: 24px;
  }
}

.login__input_error {
  border-bottom: 1px solid red;
}

.login__input:focus {
  border-bottom: 1px solid #3456f3;
  outline: none;
}

.login__error {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  text-decoration: none;
  min-height: 10px;
}

.login__button {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 120px;
  background-color: #f5f3f3;
  color: #000000;
  max-width: 330px;
  border-radius: 3px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border: 3px solid #000000;
  width: 100%;
  min-height: 45px;
  cursor: pointer;
}

.login__button:hover {
  opacity: .8;
}

@media screen and (max-width: 650px){
  .login__button {
    max-width: 250px;
    font-size: 20px;
    line-height: 24px;
    min-height: 36px;
    margin-top: 60px;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 470px){
  .login__button {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 320px){
  .login__button {
    margin-top: 40px;
  }
}

.login__button_disabled {
  pointer-events: none;
  background-color: #f8f8f8;
  color: #c2c2c2;
}


.register__in {
  display: flex;
  /*text-align: center;*/
  align-items: center;
  justify-content: center;
  /*min-width: 330px;*/
}

@media screen and (max-width: 460px){
  .register__in {
    width: 100%;
  }
}

.register__in p {
  padding: 0;
  margin: 16px 6px 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

@media screen and (max-width: 650px){
  .register__in p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px){
  .register__in p {
    font-size: 11px;
    line-height: 18px;
  }
}

.login__register-link {
  padding: 0;
  margin: 16px 0 0;
  color: red;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.login__register-link:hover {
  opacity: .7;
}

@media screen and (max-width: 650px){
  .login__register-link {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px){
  .login__register-link {
    font-size: 11px;
    line-height: 18px;
  }
}

.login__signin {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
}

@media screen and (max-width: 650px){
  .login__signin {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px){
  .login__signin {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}